<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Uh oh!</title>
</head>
<style>
    .textCont{
        position: relative;
        margin: 40vh auto;
        height: 20vh;
        width: 100vw;
        text-align: center;
        font-size: 2em;
    }
</style>
<body>
    <div class="textCont">
        <h1 class="text">Oops, no such page found!</h1>
    </div>
</body>
</html>